In [1]:
import numpy as np
import pandas as pd

In [2]:
accidents = pd.read_csv('datasets/1.-Transportation/accidents-2017.csv')

In [4]:
population = pd.read_csv('datasets/3.-Population/population.csv')

In [5]:
bus = pd.read_csv('datasets/1.-Transportation/bus-stops.csv')

In [6]:
transp = pd.read_csv('datasets/1.-Transportation/public-transport.csv')

In [7]:
accidents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10339 entries, 0 to 10338
Data columns (total 15 columns):
Id                   10339 non-null object
District Name        10339 non-null object
Neighborhood Name    10339 non-null object
Street               10339 non-null object
Weekday              10339 non-null object
Month                10339 non-null object
Day                  10339 non-null int64
Hour                 10339 non-null int64
Part of the day      10339 non-null object
Mild injuries        10339 non-null int64
Serious injuries     10339 non-null int64
Victims              10339 non-null int64
Vehicles involved    10339 non-null int64
Longitude            10339 non-null float64
Latitude             10339 non-null float64
dtypes: float64(2), int64(6), object(7)
memory usage: 1.2+ MB

In [8]:
bus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3162 entries, 0 to 3161
Data columns (total 7 columns):
Code                 3162 non-null object
Transport            3162 non-null object
Longitude            3162 non-null float64
Latitude             3162 non-null float64
Bus.Stop             3162 non-null object
District.Name        3146 non-null object
Neighborhood.Name    3146 non-null object
dtypes: float64(2), object(5)
memory usage: 173.0+ KB

In [9]:
transp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 651 entries, 0 to 650
Data columns (total 7 columns):
Code                 651 non-null object
Transport            651 non-null object
Longitude            651 non-null float64
Latitude             651 non-null float64
Station              651 non-null object
District.Name        487 non-null object
Neighborhood.Name    487 non-null object
dtypes: float64(2), object(5)
memory usage: 35.7+ KB

In [8]:
population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70080 entries, 0 to 70079
Data columns (total 8 columns):
Year                 70080 non-null int64
District.Code        70080 non-null int64
District.Name        70080 non-null object
Neighborhood.Code    70080 non-null int64
Neighborhood.Name    70080 non-null object
Gender               70080 non-null object
Age                  70080 non-null object
Number               70080 non-null int64
dtypes: int64(4), object(4)
memory usage: 4.3+ MB

In [11]:
accidents.columns

Index(['Id', 'District Name', 'Neighborhood Name', 'Street', 'Weekday',
       'Month', 'Day', 'Hour', 'Part of the day', 'Mild injuries',
       'Serious injuries', 'Victims', 'Vehicles involved', 'Longitude',
       'Latitude'],
      dtype='object')

In [9]:
accidents.head(10)

,Id,District Name,Neighborhood Name,Street,Weekday,Month,Day,Hour,Part of the day,Mild injuries,Serious injuries,Victims,Vehicles involved,Longitude,Latitude
0,2017S008429,Unknown,Unknown,Número 27 ...,Friday,October,13,8,Morning,2,0,2,2,2.125624,41.340045
1,2017S007316,Unknown,Unknown,Número 3 Zona Franca / Número 50 Zona Franca ...,Friday,September,1,13,Morning,2,0,2,2,2.120452,41.339426
2,2017S010210,Unknown,Unknown,Litoral (Besòs) ...,Friday,December,8,21,Afternoon,5,0,5,2,2.167356,41.360885
3,2017S006364,Unknown,Unknown,Número 3 Zona Franca ...,Friday,July,21,2,Night,1,0,1,2,2.124529,41.337668
4,2017S004615,Sant Martí,el Camp de l'Arpa del Clot,Las Navas de Tolosa ...,Thursday,May,25,14,Afternoon,1,0,1,3,2.185272,41.416365
5,2017S007775,Sant Martí,el Camp de l'Arpa del Clot,Indústria / Trinxant ...,Wednesday,September,20,12,Morning,1,0,1,2,2.183245,41.416336
6,2017S004484,Sant Martí,el Camp de l'Arpa del Clot,Trinxant / Indústria ...,Saturday,May,20,21,Afternoon,1,0,1,2,2.183245,41.416336
7,2017S010680,Sant Martí,el Camp de l'Arpa del Clot,Indústria ...,Tuesday,December,26,20,Afternoon,2,0,2,1,2.183561,41.416372
8,2017S005152,Sant Martí,el Camp de l'Arpa del Clot,Indústria ...,Monday,June,12,15,Afternoon,1,0,1,1,2.184059,41.416763
9,2017S003932,Sant Martí,el Camp de l'Arpa del Clot,Maragall ...,Wednesday,May,3,20,Afternoon,1,0,1,1,2.181225,41.413958

In [7]:
accidents["Victims"].value_counts().sum

<bound method Series.sum of 1     7385
2     1611
0      902
3      284
4      102
5       32
6       11
7        8
10       2
9        1
8        1
Name: Victims, dtype: int64>

In [12]:
accidents["Serious injuries"].value_counts()

0    10116
1      207
2       15
4        1
Name: Serious injuries, dtype: int64

In [13]:
accidents["Mild injuries"].value_counts()

1     7253
2     1579
0     1082
3      273
4       99
5       31
6       11
7        7
10       2
9        1
8        1
Name: Mild injuries, dtype: int64

In [35]:
accidents["Month"].value_counts().sum()

10339

In [15]:
accidents["Neighborhood Name"].value_counts()

la Dreta de l'Eixample             1167
l'Antiga Esquerra de l'Eixample     588
la Nova Esquerra de l'Eixample      387
Sant Gervasi - Galvany              385
la Sagrada Família                  377
                                   ...
Can Baró                             15
Ciutat Meridiana                     11
Vallbona                              8
Can Peguera                           8
Torre Baró                            7
Name: Neighborhood Name, Length: 74, dtype: int64

In [16]:
accidents["Weekday"].value_counts()

Friday       1761
Tuesday      1691
Thursday     1677
Wednesday    1650
Monday       1510
Saturday     1155
Sunday        895
Name: Weekday, dtype: int64

In [17]:
accidents["Part of the day"].value_counts()

Afternoon    5082
Morning      4067
Night        1190
Name: Part of the day, dtype: int64

In [26]:
accidents.groupby("Weekday")["Part of the day"].value_counts().max()

884

In [27]:
accidents["Month"].value_counts()

November     991
May          963
March        935
October      928
July         918
June         908
April        845
January      844
February     824
September    769
December     762
August       652
Name: Month, dtype: int64

In [37]:
accidents.groupby("Month")[["Serious injuries"]].sum().idxmax()

Serious injuries    November
dtype: object

In [58]:
accidents.groupby(["Month", "Day"])["Id"].count()

Month      Day
April      1      23
           2      36
           3      34
           4      36
           5      46
                  ..
September  26     32
           27     24
           28     30
           29     42
           30     22
Name: Id, Length: 365, dtype: int64

In [66]:
accidents_day = accidents.groupby(["Month", "Day"])["Id"].count()

In [69]:
accidents_day.mean()

28.326027397260273

In [75]:
accidents_day["September"]

Day
1     26
2     25
3      7
4     27
5     27
6     16
7     28
8     26
9     19
10    13
11    11
12    33
13    29
14    24
15    34
16    28
17    16
18    31
19    37
20    36
21    31
22    37
23    22
24    23
25    13
26    32
27    24
28    30
29    42
30    22
Name: Id, dtype: int64

In [77]:
transp.head()

,Code,Transport,Longitude,Latitude,Station,District.Name,Neighborhood.Name
0,K001,Underground,2.119370,41.399203,FGC (L6) - REINA ELISENDA (Sortida Duquesa d'O...,Sarrià-Sant Gervasi,Sarrià
1,K001,Underground,2.135427,41.397791,FGC (L6) - LA BONANOVA-,Sarrià-Sant Gervasi,Sant Gervasi - Galvany
2,K001,Underground,2.185391,41.451492,METRO (L11) - CASA DE L'AIGUA (C. Vila-Real)-,Nou Barris,la Trinitat Nova
3,K001,Underground,2.174473,41.460889,METRO (L11) - CIUTAT MERIDIANA (C. Pedraforca)-,Nou Barris,Ciutat Meridiana
4,K001,Underground,2.168588,41.387200,METRO (L1) - CATALUNYA (Rda. Universitat)-,Eixample,la Dreta de l'Eixample

In [78]:
transp["Neighborhood.Name"].value_counts()

la Dreta de l'Eixample      61
Sants                       21
Sant Gervasi - Galvany      20
Sant Antoni                 19
Sant Andreu                 18
                            ..
la Teixonera                 2
Sant Genís dels Agudells     1
el Coll                      1
Porta                        1
Ciutat Meridiana             1
Name: Neighborhood.Name, Length: 63, dtype: int64

In [83]:
transp_type = transp.groupby("Transport")["Neighborhood.Name"].value_counts()

In [86]:
transp_type

Transport      Neighborhood.Name
Airport train  el Clot                       3
               Sant Andreu                   1
               Sants                         1
               la Dreta de l'Eixample        1
Cableway       el Poble-sec                  3
                                            ..
Underground    Sant Genís dels Agudells      1
               Sant Gervasi - la Bonanova    1
               el Coll                       1
               la Barceloneta                1
               la Bordeta                    1
Name: Neighborhood.Name, Length: 101, dtype: int64

In [92]:
transp["Transport"].unique()

array(['Underground', 'Railway (FGC)', 'Tram', 'Maritime station',
       'RENFE', 'Airport train', 'Cableway', 'Funicular'], dtype=object)

In [94]:
transp_type.loc["Railway (FGC)"]

Neighborhood.Name
Sant Gervasi - Galvany                   10
Sarrià                                    5
el Putxet i el Farró                      5
la Dreta de l'Eixample                    5
les Tres Torres                           5
Vallvidrera, el Tibidabo i les Planes     2
l'Antiga Esquerra de l'Eixample           2
la Vila de Gràcia                         2
Sant Gervasi - la Bonanova                1
el Poble-sec                              1
la Bordeta                                1
Name: Neighborhood.Name, dtype: int64

In [5]:
## merge both tables using neighborhood name to do so.
combined_df = accidents.merge(right=population, 
             how="left", 
             left_on="Neighborhood Name",
             right_on="Neighborhood.Name")

In [6]:
combined_df.columns

Index(['Id', 'District Name', 'Neighborhood Name', 'Street', 'Weekday',
       'Month', 'Day', 'Hour', 'Part of the day', 'Mild injuries',
       'Serious injuries', 'Victims', 'Vehicles involved', 'Longitude',
       'Latitude', 'Year', 'District.Code', 'District.Name',
       'Neighborhood.Code', 'Neighborhood.Name', 'Gender', 'Age', 'Number'],
      dtype='object')

In [18]:
## group by neighborhood. then check accidents and sort. see if the neighborhoods with most accidents are populated by mostly male
population.groupby("Neighborhood.Name")["Gender","Number"].sum().sort_values(["Number"])

                                Number
Neighborhood.Name
la Clota                          2694
la Marina del Prat Vermell        5733
Vallbona                          6715
Can Peguera                      11296
Baró de Viver                    12424
...                                ...
el Raval                        238168
la Vila de Gràcia               252724
la Sagrada Família              257063
Sant Andreu                     283114
la Nova Esquerra de l'Eixample  288931

[73 rows x 1 columns]

In [6]:
population.head()

,Year,District.Code,District.Name,Neighborhood.Code,Neighborhood.Name,Gender,Age,Number
0,2017,1,Ciutat Vella,1,el Raval,Male,0-4,224
1,2017,1,Ciutat Vella,2,el Barri Gòtic,Male,0-4,50
2,2017,1,Ciutat Vella,3,la Barceloneta,Male,0-4,43
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Male,0-4,95
4,2017,2,Eixample,5,el Fort Pienc,Male,0-4,124

In [7]:
population.columns

Index(['Year', 'District.Code', 'District.Name', 'Neighborhood.Code',
       'Neighborhood.Name', 'Gender', 'Age', 'Number'],
      dtype='object')

In [19]:
population["Age"].unique()

array(['0-4', '5-9', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39',
       '40-44', '45-49', '50-54', '55-59', '60-64', '65-69', '70-74',
       '75-79', '80-84', '85-89', '90-94', '>=95'], dtype=object)

In [21]:
accidents_2019 = pd.read_csv('datasets/1.-Transportation/2019_accidents.csv')

In [22]:
accidents_2019.head()

,Numero_expedient,Codi_districte,Nom_districte,Codi_barri,Nom_barri,Codi_carrer,Nom_carrer,Num_postal,Descripcio_dia_setmana,Dia_setmana,...,Descripcio_tipus_vehicle,Descripcio_model,Descripcio_marca,Descripcio_color,Descripcio_carnet,Antiguitat_carnet,Coordenada_UTM_X,Coordenada_UTM_Y,Longitud,Latitud
0,2019S005075,-1,Desconegut,-1,Desconegut,-1,Comte d'Urgell / Roma ...,NaN,Dijous,Dj,...,Bicicleta,Desconegut,Desconegut,Desconegut,Desconegut,Desconegut,429393.43,4582076.68,2.154311,41.385295
1,2019S005075,-1,Desconegut,-1,Desconegut,-1,NaN,NaN,Dijous,Dj,...,Desconegut,Desconegut,Desconegut,Desconegut,Desconegut,Desconegut,429393.43,4582076.68,2.154311,41.385295
2,2019S008513,-1,Desconegut,-1,Desconegut,-1,Número 50 Zona Franca / Número 3 Zona Franca ...,NaN,Dilluns,Dl,...,Motocicleta,WW125EX2,HONDA,Blanc,B,35,426503.22,4577014.83,2.120362,41.339446
3,2019S001554,-1,Desconegut,-1,Desconegut,-1,A Zona Franca / Número 3 Zona Franca ...,NaN,Dimarts,Dm,...,Turisme,307 SW PK,PEUGEOT,Gris,B,30,428020.43,4576283.26,2.138580,41.332994
4,2019S001554,-1,Desconegut,-1,Desconegut,-1,NaN,NaN,Dimarts,Dm,...,Turisme,C3,CITROEN,Negre,B,15,428020.43,4576283.26,2.138580,41.332994

In [24]:
accidents_2019["Descripcio_tipus_vehicle"].value_counts()

Turisme                                7420
Motocicleta                            6064
Furgoneta                              1228
Ciclomotor                              951
Bicicleta                               786
Taxi                                    643
Veh. mobilitat personal amb motor       486
Autobús                                 453
Camió rígid <= 3,5 tones                238
Camió rígid > 3,5 tones                 180
Tot terreny                             150
Autobús articulat                       130
Tractor camió                            84
Desconegut                               58
Veh. mobilitat personal sense motor      49
Altres vehicles amb motor                33
Autocar                                  22
Maquinària d'obres i serveis             21
Tren o tramvia                            9
Altres vehicles sense motor               7
Pick-up                                   5
Quadricicle < 75 cc                       4
Carro                                     2
Quadricicle > 75 cc                       1
Autocaravana                              1
Name: Descripcio_tipus_vehicle, dtype: int64

In [25]:
accidents_2019["Descripcio_dia_setmana"].value_counts()

Divendres    3164
Dimecres     3160
Dijous       3122
Dimarts      3095
Dilluns      2846
Dissabte     2070
Diumenge     1580
Name: Descripcio_dia_setmana, dtype: int64

In [27]:
accidents_2019.columns

Index(['Numero_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Hora_dia',
       'Descripcio_torn', 'Descripcio_causa_vianant',
       'Descripcio_tipus_vehicle', 'Descripcio_model', 'Descripcio_marca',
       'Descripcio_color', 'Descripcio_carnet', 'Antiguitat_carnet',
       'Coordenada_UTM_X', 'Coordenada_UTM_Y', 'Longitud', 'Latitud'],
      dtype='object')

In [29]:
accidents_2019["Descripcio_torn"].value_counts()

Tarda    9539
Matí     7277
Nit      2065
Name: Descripcio_torn, dtype: int64

In [33]:
accidents_2019["Nom_barri"].value_counts().sum()

19037

In [32]:
accidents_2019["Numero_expedient"].count()

19025